.user__image {
    border-radius: 50%;
    /* border: solid cornflowerblue 3px; */
    width: 100px;
    height: auto;
}

/* #dashboard__side-panel {
    height: 100vh;
}

#dashboard__main, #dashboard__side-panel {
    display: inline-block;
} */