.side-drawer {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #FFFFFF;
    max-width: 575px;
    min-width: 300px;
    z-index: 999999;
    animation: slideIn 0.3s ease-in-out;
}

.side-drawer__top-box {
    height: 150px;
    width: 100%;
    background-color: #34DB93;
    margin-bottom: 20px;
}

.side-drawer__close {
    position: relative;
}

.side-drawer__close i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 25px;
}

.side-drawer__close:hover {
    cursor: pointer;
}

.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-drawer ul li {
    font-size: 20px;
    width: 100%;
}

.side-drawer ul li a {
    color: #465A52;
}

.side-drawer ul li i {
    color: #A4B0AC;
}

.side-drawer__sublist {
    padding-left: 0.6rem;
    padding-top: 0.5rem;
}

/* google button */
.google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #465A52;
    white-space: nowrap;
    border-left: 2px solid #34DB93;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-button:focus,
.google-button:hover {
    cursor: pointer;
}
    
.google-button__icon {
    margin: 8px 0 8px 12px;
    width: 18px;
    box-sizing: border-box;
    transform: translateY(-2px);
}

.google-button__text {
    padding: 0 12px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
}

@keyframes slideIn {
    from {
        right: -80%;
    }
    to {
        right: 0;
    }
}